<div class="apptransfer media">
{#    <h5 class="media-heading">#}
{#        <span class="username">#}
{#            <a href="{% url 'transfers:user_all' username = apptransfer.user.username %}"></a>#}
{#        </span>#}
{#    </h5>#}

    <div class="media-footer">
        {#  'apptransfer' is an object created by django when the model is created.  #}
        {#   It takes the model name and converts it to all lower case.   #}
        {% if user.is_authenticated and apptransfer.user == user %}
            <div class="list_group">
                <ul class="list-group">
                    <li class="list-group-item active">{{ apptransfer.transfer_amount }}</li>
                    <li class="list-group-item">Date initiated:  {{ apptransfer.date_initiated }}</li>
                    <li class="list-group-item">Date fulfilled:  {{ apptransfer.date_fulfilled }}</li>
                </ul>
            </div>

{#            <script>#}
{#                document.getElementById("collapse").onclick = function () {#}
{#                    alert("Hello ")#}
{#                }#}
{#            </script>#}

        {% endif %}
    </div>

</div>