{% extends "transfers/transfer_base.html" %}
{% block pre_transfer %}
{#    <div>#}
{#        <h1>Welcome {{ app_user.username }}</h1>#}
{#    </div>#}
{% endblock %}

{% block transfer_content %}
{#    <div class="card"> <!-- style="width: 18rem;" -->#}
{#        <div>#}
{#            <h2>All transactions</h2>#}
{#        </div>#}
{#        <ul class="list-group list-group-flush">#}
{#            {% for transactions in apptransfer_list %}#}
{#                <li>{{ transactions.date_fulfilled }}   <-->    {{ transactions.transfer_amount }}</li>#}
{#              <a href="{% url 'transfers:single' username=app_user.user.username pk=app_user.pk %}">{{ app_user.transfer_amount }}</a> #}
{#            {% endfor %}#}
{#        </ul>#}
{#        #}
{#    </div>#}
{% endblock %}